<% if coach.status == 'draft' %>
  <p>教練資料狀態：預覽</p>
  <%= link_to "公開教練履歷", status_users_coach_path( :status => "public" ), :method => :post, :remote => true, :class => "btn btn-primary" %>
<% else %>
  <p>教練資料狀態：公開中</p>
  <%= link_to "關閉教練履歷", status_users_coach_path( :status => "draft" ), :method => :post, :remote => true, :class => "btn btn-danger" %>
<% end %>
