  <div class="index-banner">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="banner-back"></div> -->
        <div class="jumbotron text-center">
            <h1>FiCoach 找教練</h1>
            <h2>找教練，好簡單。</p>
            <p>搜尋關鍵字，快速找教練</p>
            <p>
              <form action="" method="get">

                 <input type="text" name="lname" /> <input type="submit" value="Submit" />

              </form>
            </p>
            <p>or</p>
            <p>
              <%= link_to "我要當教練！", users_path, class: "btn btn-primary" %>
            </p>
        </div>
      </div>
    </div>
  </div>




