@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import "rating";
@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
}


body {
  padding-top: 65px;
}
main{
  min-height: 600px;
}
/* nav start */
.top-header{
  top: 0;
  border-width: 0 0 1px;
  line-height: 55px;
  position: fixed;
  width: 100%;
  /*background-color: #365a7b;*/
  background-color: #1575B5;
  height: 55px;
  z-index: 10;

}
.top-header .navbar{
  margin-bottom: 0px;
}
.top-nav{
  padding-left: 0;
  list-style: none;
}
.top-nav li {
  font-size: 15px;
  padding: 0px 15px;
}
.top-header .navbar-collapse .top-nav {
  color: #fff;
}
.top-header .navbar-toggle .icon-bar {
  height: 4px;
  background-color: #fff;
}
.top-header .navbar-collapse .top-nav a:hover {
  text-decoration: underline;
}

.top-header .navbar-collapse  .dropdown-menu li a{
  color: #000;
}
.top-header .navbar-collapse .top-nav a{
  color: #fff;
}
.top-header .in .top-nav{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.top-header .in .top-nav a{
  color: #000;
}
/* nav end */

/* index start */

/* index-banner start */
.index-banner{
  margin-top: -10px;
  background: image-url("running_bridge.png") no-repeat center center;
  background-size:cover;
}
.index-banner .jumbotron{
  background:rgba(0,0,0,0.6);
  border-radius: 0px;
  color: #fff;
  margin-bottom: 0px;
  padding: 140px 60px 100px 60px;
}

.index-banner .jumbotron .becoach{
  color:#fff;
  background:rgba(0,0,0,0.4);
  border-radius: 0px;
}
.banner-back{
  position:relative;
  z-index: 1;
  background: image-url("running_bridge.png") no-repeat center center;
  background-size:cover;
}

/* index-banner end */

.input {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  font-size: 16px;
  margin: 0 -3px;
}
.input input{
  color:#000;
  height: 39px;
  padding: 10px;
}
.input-price input{
  width: 100px;
}
.select{
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  margin: 0 -2px;
}

.select select{
  -webkit-appearance: none;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;
  padding: 6px 25px 11px 11px;
}

.select:before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #82888a;
  top: 0;
  bottom: 1px;
  padding-top: 0.7em;
  line-height: 1;
  right: 0;
  width: 2em;
  text-align: center;
}
.search-btn{
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: -2px;
}
.search-btn .btn{
  height: 41px;
  width: 100px;
  border-radius: 0px;
}


.sportsArea .page-header{
  border-bottom: none;
}

.sportsArea .sportlist img{
  display: inline;
  position:relative;
  z-index: -1;
}
.sportsArea .sportlist h2{
  color:#fff;
  display: inline;
  position:absolute;
  left:50%;
  top:50%;
  margin-top: -10px;
  margin-left: -20px;
}

.sportstitle{
  position:absolute;
  width: 84%;
  height: 100%;
  margin-left: 13px;
}
.sportstitle:hover{
  background:rgba(0,0,0,0.4);
}
.all-coach-btn{
  margin:30px 0;
}


.swimming-lg{
  color:#B37529;
  font-weight: bold;
  position:relative;
  z-index: 1;
  background: image-url("swim-large.png") no-repeat center center;
  background-size:cover;
  padding:80px 20%;
}
.swimming-lg h3{
  color:#FFF;
  background:rgba(0,0,0,0.4);
  /*margin:10px 50px;*/
  padding:30px 5px;
  border: 1px solid;
  border-radius: 5px;
}


.feature{
  background-color:#324875;
  color:#fff;
}
.services-box{
  transition: background-color 0.3s ease;
  position: relative;
  top: 0;
  padding:20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.feature .featureimg{
  width:100px;
  margin-left:35%;
}
.services-box h3{
  font-weight: bold;
  color:#CC9346;
}
.services-box h4{
  line-height: 25px;
}

.coaches{
  padding:20px 0;
  color: #3E2816;
}
.coaches .title{
  text-align: center;
}
.coaches .title img{
  width: 50px;
  display: inline;
}
.coaches .title h3{
  display: inline;
}
.coaches .avatar{
  text-align: center;
  /*height: 270px;*/
}
.coaches .avatar img{
  width: 200px;
}
.coaches .content{
  margin: 10px 30px;
}

.coaches .content h4{
  display: inline;
}
.coaches .content img{
  height:30px;
}

.joinus{
  margin:5px 0 50px 0;
}


/* index end */



/* coaches start */

.coachCenter{
  margin: 10px;
}
.coachfile{
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #E7E6E6;
}
.coachItemimg {
  padding:20px 10px;
  background-color: #E7E6E6;
}
.coachItemContent{
  padding:20px 10px;
}
.coachItemContent h3{
  margin-top:0px;
}
.coachLesson{
  background-color: #F7F7F7;
}

.lessonimg{
  padding:10px 10px;
}
.lessontitle{
  padding:10px 10px;
}
.lessoncontent{
  padding:10px 10px;
}
.coach-comment{
  margin:0 0 10px 0;
}

/* coaches end */

/* coach start */

.coachItem .coachcontent{
  background-color: #E6EAE7;
  border-top:1px solid #1575B5;
  border-right:1px solid #1575B5;
  border-left:1px solid #1575B5;
}
.coachItem .coachcontent2{
  background-color: #E6EAE7;
  border-bottom:1px solid #1575B5;
  border-right:1px solid #1575B5;
  border-left:1px solid #1575B5;
}
.coachItem .coachcontent2{
  background-color: #E6EAE7;
  border-bottom:1px solid #1575B5;
  border-right:1px solid #1575B5;
  border-left:1px solid #1575B5;
  padding-bottom: 5px;
}
.lessoncontent{
  margin-top: 20px;
}
.coachItem p{
  font-size:16px;
}
.coachItem .fb_iframe_widget {
  display: block;
}
.coachItem .coachimage{
  margin-top: 20px;
  margin-bottom: 10px;
}
.coachItem .coachcontent ul{
  list-style-type: none;
}

.commentlist .media .media-heading{
  padding-left: 0px;
}
.coachItemLesson{
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #F7F7F7;
  margin-bottom: 5px;
  padding:0 50px;
  font-size: 16px;
}
.coachItem .fb-like{
  margin: 10px 0;
}
.coachLessonItem{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.coachLessonItem:nth-child(1) {
    border-top:none;
}

/* coach end */

