@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "rating";
@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
}


body {
  padding-top: 65px;
}
main{
  min-height: 600px;
}
/* nav start */
.top-header{
  top: 0;
  border-width: 0 0 1px;
  line-height: 55px;
  position: fixed;
  width: 100%;
  /*background-color: #365a7b;*/
  background-color: #1575B5;
  height: 55px;
  z-index: 10;
  transition: background-color .3s,height .3s;
}
.top-header .navbar{
  margin-bottom: 0px;
}
.top-nav{
  padding-left: 0;
  list-style: none;
}
.top-nav li {
  font-size: 15px;
  padding: 0px 15px;
}
.top-header .navbar-collapse .top-nav {
  color: #fff;
}
.top-header .navbar-toggle .icon-bar {
  height: 4px;
  background-color: #fff;
}
.top-header .navbar-collapse .top-nav a:hover {
  text-decoration: underline;
}

.top-header .navbar-collapse  .dropdown-menu li a{
  color: #000;
}
.top-header .navbar-collapse .top-nav a{
  color: #fff;
}
.top-header .in .top-nav{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.top-header .in .top-nav a{
  color: #000;
}
/* nav end */

/* index start */

/* index-banner start */
.index-banner{
  margin-top: -10px;
  background: image-url("running_bridge.png") no-repeat center center;
  background-size:cover;
}
.index-banner .jumbotron{
  background:rgba(0,0,0,0.6);
  border-radius: 0px;
  color: #fff;
  margin-bottom: 0px;
  padding: 90px 60px 60px 60px;
}
.banner-back{
  position:relative;
  z-index: 1;
    background: image-url("running_bridge.png") no-repeat center center;
  background-size:cover;
}

/* index-banner end */

.input {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  font-size: 16px;
  margin: 0 -4.5px;
}
.input input{
  color:#000;
  height: 39px;
  padding: 10px;
}
.input-price input{
  width: 100px;
}
.select{
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  margin: 0 -4px;
}

.select select{
  -webkit-appearance: none;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;
  padding: 11px 25px 11px 11px;
}

.select:before {
  content: '\25bc';
  position: absolute;
  pointer-events: none;
  color: #82888a;
  top: 0;
  bottom: 1px;
  padding-top: 0.7em;
  line-height: 1;
  right: 0;
  width: 2em;
  text-align: center;
}
.search-btn{
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: -4px;
}
.search-btn .btn{
  height: 40px;
  border-radius: 0px;
}

/* index end */



/* coaches start */

.coachCenter{
  margin: 10px;
}
.coach-list{
  /*background-color:#26A3E4;*/

}

.coachItem{

}
.coachfile{
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #E7E6E6;
}
.coachItemimg {
  padding:20px 10px;
  background-color: #E7E6E6;
}
.coachItemContent{
  padding:20px 10px;
}
.coachItemContent h3{
  margin-top:0px;
}
.coachLesson{
  background-color: #F7F7F7;
}

.lessonimg{
  padding:10px 10px;
}
.lessontitle{
  padding:10px 10px;
}
.lessoncontent{
  padding:10px 10px;
}
.coach-comment{
  margin:0 0 10px 0;
}

/* coaches end */

/* coach start */
.coachItem .coachimage{
  margin-top: 20px;
}
.coachItem .coachcontent ul{
  list-style-type: none;

}
.commentlist .media .media-heading{
  padding-left: 0px;
}
.coachItemLesson{
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


/* coach end */

